@charset "UTF-8";


body{
    background-color:rgb(81, 135, 137);
}

h1#Titulodosite{
    text-align: center;
    color: white;
    font-size: 50px;
}
figure.Legenda img#Perfil{
    
    /*Para derfini a Largura*/
    width: 200px;
    /*Para definir a Altura*/ 
    height: 200px;
    /*Para Criar a borda*/
    border: 6px solid white;
    /*Para arrendodar a borda*/
    border-radius: 200px;
    
}


